In [52]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv(r'C:\Users\admin\Downloads\bank-additional-full.csv',delimiter=';')

In [54]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [55]:
df.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [56]:
df.shape

(41188, 21)

In [57]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [59]:
df.isna().apply(pd.value_counts).T

                False
age             41188
job             41188
marital         41188
education       41188
default         41188
housing         41188
loan            41188
contact         41188
month           41188
day_of_week     41188
duration        41188
campaign        41188
pdays           41188
previous        41188
poutcome        41188
emp.var.rate    41188
cons.price.idx  41188
cons.conf.idx   41188
euribor3m       41188
nr.employed     41188
y               41188

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
le=LabelEncoder()

In [62]:
df['job']=le.fit_transform(df['job'])
df['marital']=le.fit_transform(df['marital'])
df['education']=le.fit_transform(df['education'])
df['default']=le.fit_transform(df['default'])
df['housing']=le.fit_transform(df['housing'])
df['loan']=le.fit_transform(df['loan'])
df['contact']=le.fit_transform(df['contact'])
df['month']=le.fit_transform(df['month'])
df['day_of_week']=le.fit_transform(df['day_of_week'])
df['poutcome']=le.fit_transform(df['poutcome'])
df['y']=le.fit_transform(df['y'])

In [63]:
corr=df.corr()
corr

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
age,1.000000,0.001250,-0.389753,-0.117892,0.164965,-0.001603,-0.007368,0.007021,-0.024877,-0.017572,...,0.004594,-0.034369,0.024365,0.019750,-0.000371,0.000857,0.129372,0.010767,-0.017725,0.030399
job,0.001250,1.000000,0.027897,0.134121,-0.028277,0.006962,-0.010209,-0.025132,-0.033213,-0.000844,...,-0.006923,-0.028468,0.020965,0.011504,-0.008271,-0.016017,0.052760,-0.007880,-0.019574,0.025122
marital,-0.389753,0.027897,1.000000,0.109220,-0.079450,0.010467,0.005788,-0.054501,-0.007629,0.002202,...,-0.007240,-0.037942,0.038689,0.001912,-0.084210,-0.057477,-0.033783,-0.091939,-0.086199,0.046203
education,-0.117892,0.134121,0.109220,1.000000,-0.186859,0.016825,0.006384,-0.105726,-0.082684,-0.017986,...,0.000371,-0.046626,0.038831,0.017009,-0.043778,-0.081607,0.078799,-0.036380,-0.041492,0.057799
default,0.164965,-0.028277,-0.079450,-0.186859,1.000000,-0.015815,-0.003782,0.135238,-0.015830,-0.008701,...,0.032825,0.080062,-0.102416,0.023417,0.203263,0.168073,0.026522,0.195336,0.189845,-0.099352
housing,-0.001603,0.006962,0.010467,0.016825,-0.015815,1.000000,0.044296,-0.082186,-0.018141,0.003339,...,-0.011010,-0.010551,0.021314,-0.011783,-0.060196,-0.080504,-0.033845,-0.059277,-0.045862,0.011552
loan,-0.007368,-0.010209,0.005788,0.006384,-0.003782,0.044296,1.000000,-0.008556,-0.005705,-0.009344,...,0.005166,0.000345,-0.001327,-0.001511,0.001849,-0.002430,-0.012025,0.000125,0.003903,-0.004909
contact,0.007021,-0.025132,-0.054501,-0.105726,0.135238,-0.082186,-0.008556,1.000000,0.276565,-0.009575,...,0.077368,0.117970,-0.212848,0.118744,0.393584,0.591474,0.251614,0.399773,0.269155,-0.144773
month,-0.024877,-0.033213,-0.007629,-0.082684,-0.015830,-0.018141,-0.005705,0.276565,1.000000,0.027677,...,-0.062059,-0.047891,0.103157,-0.065012,-0.178782,-0.004239,0.009652,-0.117264,-0.221425,-0.006065
day_of_week,-0.017572,-0.000844,0.002202,-0.017986,-0.008701,0.003339,-0.009344,-0.009575,0.027677,1.000000,...,-0.038288,-0.009531,-0.004102,0.018732,0.033245,0.005644,0.041465,0.039043,0.028380,0.015967
duration,-0.000866,-0.006490,0.010290,-0.015102,-0.011794,-0.007658,-0.000916,-0.026657,0.003690,0.021950,...,-0.071699,-0.047577,0.020640,0.033360,-0.027968,0.005312,-0.008173,-0.032897,-0.044703,0.405274
campaign,0.004594,-0.006923,-0.007240,0.000371,0.032825,-0.011010,0.005166,0.077368,-0.062059,-0.038288,...,1.000000,0.052584,-0.079141,0.032586,0.150754,0.127836,-0.013733,0.135133,0.144095,-0.066357
pdays,-0.034369,-0.028468,-0.037942,-0.046626,0.080062,-0.010551,0.000345,0.117970,-0.047891,-0.009531,...,0.052584,1.000000,-0.587514,-0.475619,0.271004,0.078889,-0.091342,0.296899,0.372605,-0.324914
previous,0.024365,0.020965,0.038689,0.038831,-0.102416,0.021314,-0.001327,-0.212848,0.103157,-0.004102,...,-0.079141,-0.587514,1.000000,-0.313110,-0.420489,-0.203130,-0.050936,-0.454494,-0.501333,0.230181
poutcome,0.019750,0.011504,0.001912,0.017009,0.023417,-0.011783,-0.001511,0.118744,-0.065012,0.018732,...,0.032586,-0.475619,-0.313110,1.000000,0.192972,0.211330,0.178289,0.184144,0.119689,0.129789
emp.var.rate,-0.000371,-0.008271,-0.084210,-0.043778,0.203263,-0.060196,0.001849,0.393584,-0.178782,0.033245,...,0.150754,0.271004,-0.420489,0.192972,1.000000,0.775334,0.196041,0.972245,0.906970,-0.298334
cons.price.idx,0.000857,-0.016017,-0.057477,-0.081607,0.168073,-0.080504,-0.002430,0.591474,-0.004239,0.005644,...,0.127836,0.078889,-0.203130,0.211330,0.775334,1.000000,0.058986,0.688230,0.522034,-0.136211
cons.conf.idx,0.129372,0.052760,-0.033783,0.078799,0.026522,-0.033845,-0.012025,0.251614,0.009652,0.041465,...,-0.013733,-0.091342,-0.050936,0.178289,0.196041,0.058986,1.000000,0.277686,0.100513,0.054878
euribor3m,0.010767,-0.007880,-0.091939,-0.036380,0.195336,-0.059277,0.000125,0.399773,-0.117264,0.039043,...,0.135133,0.296899,-0.454494,0.184144,0.972245,0.688230,0.277686,1.000000,0.945154,-0.307771
nr.employed,-0.017725,-0.019574,-0.086199,-0.041492,0.189845,-0.045862,0.003903,0.269155,-0.221425,0.028380,...,0.144095,0.372605,-0.501333,0.119689,0.906970,0.522034,0.100513,0.945154,1.000000,-0.354678
y,0.030399,0.025122,0.046203,0.057799,-0.099352,0.011552,-0.004909,-0.144773,-0.006065,0.015967,...,-0.066357,-0.324914,0.230181,0.129789,-0.298334,-0.136211,0.054878,-0.307771,-0.354678,1.000000

In [64]:
corr[['y']]

                       y
age             0.030399
job             0.025122
marital         0.046203
education       0.057799
default        -0.099352
housing         0.011552
loan           -0.004909
contact        -0.144773
month          -0.006065
day_of_week     0.015967
duration        0.405274
campaign       -0.066357
pdays          -0.324914
previous        0.230181
poutcome        0.129789
emp.var.rate   -0.298334
cons.price.idx -0.136211
cons.conf.idx   0.054878
euribor3m      -0.307771
nr.employed    -0.354678
y               1.000000

In [65]:
x=df.drop(['y','cons.price.idx','pdays','euribor3m','nr.employed','contact'],axis=1)

In [66]:
y=df['y']

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [69]:
from sklearn.svm import SVC

In [70]:
svm=SVC()

In [71]:
svm.fit(x_train,y_train)

SVC()

In [72]:
s_pred=svm.predict(x_test)

In [73]:
svm.score(x_test,y_test)*100

89.20449947398235

In [74]:
svm.score(x_train,y_train)*100

89.46619957684437